option_settings:
  aws:elasticbeanstalk:application:environment:
    AWS_REGION: us-east-1
    JWT_SECRET_KEY: hamo-ume-aws-production-secret-key-2026

# This adds DynamoDB permissions to the EC2 instance profile
# The instance profile needs these permissions to access DynamoDB tables
Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"
